<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <!-- 使用阿里云的 Maven 仓库作为主仓库 -->
    <mirrors>
        <mirror>
            <id>tencent</id>
            <name>tencent maven</name>
            <url>http://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
        <mirror>
            <id>repo1</id>
            <name>repo1 maven</name>
            <url>https://repo1.maven.org/maven2/</url>
            <mirrorOf>central</mirrorOf>
        </mirror>
    </mirrors>

</settings>
